@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BDAT1007 Assignment Two</h1>
    <p class="lead">This web app acquires data from LinkedIn or Facebook in real time, displays it to a web page and stores it in a SQL database </p>
    <p><a href="https://klasserom.azurewebsites.net/CourseStrands/Binder/3698" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
